{{define "title"}}
MCR: settings
{{end}}

{{define "content"}}
<div class="container">
    <h1 class="title">Settings</h1>
    <h2>Piper</h2>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Type</th>
            <th>Status</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Brave</td>
                <td>Available</td>
            </tr>
        </tbody>
    </table>
    <div class="buttons">
        <a class="button" href="/piper/new">Create</button>
        <a class="button">Refresh</button>
    </div>
</div>
{{end}}